@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

:root{
    --font-special: normal normal normal 64px 'Poppins', sans-serif; 
    --font-title: normal normal normal 36px 'Poppins', sans-serif; 
    --font-subtitle: normal normal normal 18px 'Poppins', sans-serif; 
    --font-regular: normal normal normal 24px 'Poppins', sans-serif; 
    --font-regular-medium: normal normal 500 24px 'Poppins', sans-serif; 
    --font-input: normal normal 500 22px 'Poppins', sans-serif; 
    --font-input-small: normal normal 500 18px 'Poppins', sans-serif; 
    --font-list: normal normal normal 20px 'Poppins', sans-serif;
    --font-list-small: normal normal normal 18px 'Poppins', sans-serif;
    --background-color: rgba(196, 196, 196, 0.15);
    --border: 1px solid rgba(0, 0, 0, 0.25);
    --primary-color:rgba(237, 31, 36, 1);
    --secundary-color:rgba(0, 0, 0, 1);
    --gray-color: rgba(196, 196, 196, 0.15);
}

.equip-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equip-content{
    width: 1200px;
    height: 200vh;
    max-height: 200vh;
}

.equip-main{
    margin-top: 100px;
}

.equip-text h1{
    width: 300px;
    height: 54px;
    border-right: 1px solid black;
    font: var(--font-title);
}

.equip-text p{
    margin-top: 15px;
    font:var(--font-subtitle);
}



.equip-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    
}

.equip-section h1{
    margin-top: 60px;
    font:var(--font-title);
}

.equip-form{
    width: 1050px;
    height: 480px;
    max-height: 480px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equip-form-content{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.equip-form-content div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.equip-input{

    width: 500px;
    height: 75px;
    border-radius: 15px;
    border: var(--border);
    font: var(--font-input);
    text-align: center;
}

.equip-select{
    text-align-last: center;
}

.input-marca{
    background-image: url('../../icons//equipment-mark-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.input-patrimonio{
    background-image: url('../../icons//equipment-patrimony-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.input-descricao{
    background-image: url('../../icons//equipment-description-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.input-serie{
    background-image: url('../../icons//equipment-bar_code-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.input-tipo{
    background-image: url('../../icons//equipment-type-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-select{
    background-image: url('../../icons//equipment-active_inactive-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-input:focus{
    outline: none;
}

.equip-button{
    width: 500px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 15px;
    font: var(--font-regular-medium);
    color: white;
}

.equip-button:hover{
    cursor: pointer;
}

/* Ínicio da parte de listagem */

.equip-list{
    margin-top: 160px;
}

.equip-text-title{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}

.equip-text-title h2{
    height: 54px;
    font: var(--font-title);
}



.equip-text-title span{
    height: 54px;
    font: var(--font-title);
    color: var(--primary-color);
}

/* Ínicio da lista de salas */

.equip-list-container{
    width: 100%;
    height: 600px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.equip-list-container h1{
    font: var(--font-title);

}

.equip-list-content{
    width: 1000px;
    height: 475px;
    max-height: 475px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 25px;
}

.equip-list-li{
    width: 100%;
    height: 151px;
    border-radius: 15px;
    border: var(--border);
    list-style: none;

}

.equip-list-div{
    width: 100%;
    height: 75px;
    font: var(--font-list);
    display: flex;
}

.equip-list-line{
    width: 831px;
    border: var(--border);
}

.equip-list-marca, .equip-list-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 333px;
    height: 100%;
    border-right: var(--border);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}
.equip-list-serie, .equip-list-patrimonio, .equip-list-tipo, .equip-list-ativo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    border-right: var(--border);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-serie p, .equip-list-patrimonio p, .equip-list-tipo p, .equip-list-ativo p, .equip-list-marca, .equip-list-descricao{
    margin-left: 15px;
}

.equip-list-marca{
    background-image: url('../../icons//equipment-mark-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-descricao{
    background-image: url('../../icons//equipment-description-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-serie{
    background-image: url('../../icons//equipment-bar_code-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-patrimonio{
    background-image: url('../../icons//equipment-patrimony-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-tipo{
    background-image: url('../../icons//equipment-type-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-ativo{
    background-image: url('../../icons//equipment-active_inactive-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25px;
}

.equip-list-icons{
    width: 167px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equip-list-icons figure:hover{
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .equip-content{
        width: 1000px;
    }
}

@media screen and (max-width: 1050px) {
    .equip-content{
        width: 800px;
    }
    .equip-section{
        height: 800px;
    }
    .equip-input{
        margin-bottom: 10px;
    }
    .equip-form{
        width: 550px;
        height: 800px;
        max-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .equip-form-content{
        display: block;
    }
    .equip-list-content{
        width: 800px;
    }
    .equip-list-div{
        font: var(--font-list-small);
    }
    .equip-list-patrimonio, .equip-list-serie, .equip-list-tipo, .equip-list-ativo{
        width: 200px;
    }
    .equip-list-marca, .equip-list-descricao{
        width: 300px;
    }
    .equip-list-icons{
        width: 100px;
    }
    .equip-list-line{
        width: 700px;
    }
}

@media screen and (max-width: 820px){
    .equip-content{
        width: 600px;
    }
    .equip-list-content{
        width: 600px;
    }
    .equip-list-marca, .equip-list-descricao{
        width: 250px;
        background-image: none;
    }
    .equip-list-patrimonio, .equip-list-serie, .equip-list-tipo, .equip-list-ativo{
        background-image: none;
        width: 120px;

    }
    .equip-list-patrimonio p, .equip-list-serie p, .equip-list-tipo p, .equip-list-ativo p, .equip-list-marca p, .equip-list-descricao p{
        margin-left: 0px;
    }
    .equip-list-line{
        width: 499px;
    }
}

@media screen and (max-width: 600px){
    .equip-content{
        width: 400px;
    }
    .equip-list-content{
        width: 400px;
    }
    .equip-form{
        width: 400px;
    }
    .equip-input{
        width: 400px;
    }
    .equip-button{
        width: 400px;
    }
    .equip-list-icons{
        display: none;
        width: 0px;
    }
    .equip-list-marca, .equip-list-descricao{
        width: 200px;
        font-size: 16px;
    }
    .equip-list-patrimonio, .equip-list-serie, .equip-list-tipo, .equip-list-ativo{
        width: 100px;
        font-size: 16px;
    }
    .equip-list-patrimonio, .equip-list-ativo{
        border-right: none;
    }
    .equip-text-title{
        width: 310px;
        flex-direction: column;
    }
    .equip-form-content{
        height: 500px;
    }
    .equip-list-line{
        width: 400px;
    }
}
@media screen and (max-width: 410px){

    .equip-content{
        width: 300px;
    }
    .equip-list-content{
        width: 300px;
    }
    .equip-form{
        width: 300px;
    }
    .equip-input{
        width: 300px;
    }
    .equip-button{
        width: 300px;
    }
    .input-marca, .input-descricao, .input-patrimonio, .input-serie, .input-tipo, .equip-select{
        background-image: none;
    }

    .equip-list-name{
        width: 150px;
        font-size: 15px;
    }
    .equip-list-floor, .equip-list-m2{
        width: 75px;
        font-size: 15px;
    }
}